<div class="row">
    <div class="col-md-12">
        <div id="myApp">
            <app></app>
        </div>
    </div>
</div>
@await  Html.PartialAsync("_App")
@section Scripts {
    <script src="~/dist/main.js"></script>
}