<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/vendor.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
